{% extends "base.html" %}
{% load bootstrap %}

{% block content %}

{# ようこそ{{ user.username }}さん#}
{# <a href="{% url 'register:profile' %}">プロフィールトップに戻る</a>#}
{# <hr>#}

{# <form method="POST" action="{% url 'register:add' %}">#}
  {# サイト名: {{site_form.name}}<br>#}
  {# 対象URL: {{site_form.url}}<br>#}
  {# {% csrf_token %}#}
  {# <input type="submit">#}
{# </form>#}


<h3 class="page-header">サイト情報の編集</h3>
{% if site_id %}
<form action="{% url 'register:site_edit' site_id=site_id %}" method="post" class="form-horizontal" role="form">
{% else %}
<form action="{% url 'register:site_add' %}" method="post" class="form-horizontal" role="form">
{% endif %}
  {% csrf_token %}
  {{ site_form|bootstrap_horizontal }}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">送信</button>
    </div>
  </div>
</form>
<a href="{% url 'result:site_list' %}" class="btn btn-default btn-sm">戻る</a>




{% endblock %}
